<link rel="stylesheet" href="css/style-login.css"/>

<body>
    <div class="panel">
        <div class="content">
            <h1 class="login" >Login</h1>
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
            <form action="/login" method="POST">
                <div>
                    <label class="email" for="email">Email</label>
                    <input class="email-field" type="email" id="email" name="email" required>
                </div>
                <div class="password">
                    <label class="password" for="password">Password</label>
                    <input class="password-field" type="password" id="password" name="password" required>
                </div>
                <button class="login-btn" type="submit">Login</button>
            </form>
            <a href="/register" class="register-btn" >Register</a>
        </div>
    </div>
</body>